<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603048605261-dpp4v98n3rs8gumolq390has043kdpn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603048605261-dpp4v98n3rs8gumolq390has043kdpn0</string>
	<key>API_KEY</key>
	<string>AIzaSyDMA7C-iSV6o1jDahcGiRdBbYZBCikZ9KM</string>
	<key>GCM_SENDER_ID</key>
	<string>603048605261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>inventory-check-system</string>
	<key>STORAGE_BUCKET</key>
	<string>inventory-check-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603048605261:ios:3e3cd18dbbfeeb8bed0e04</string>
</dict>
</plist>